*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

 :root{
    --green:rgb(86,178,128);
    --white:rgb(255, 255, 255);
} 

/*DESKTOP */

/* Navigation bar */

nav{
    width:auto;
    color:black;
    height:75px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
}
.navbar{
    display: flex;
    top:0;
    height:50px;
    width:70px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
/* .nav-sub{
    display: flex;
} */
.hamburger{
    display: none;
    cursor:pointer;
}
.icon{
    width: 100%;
}
.icon img{
    width: 100%;
}
.headerlogo{
    display: flex;
}
nav li{
    list-style: none;
    display:inline-flex;
    align-items: center;
    padding:0 auto;
    margin:0 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.navitemimage{
    width:100%;
}
.navitemimage img{
    width:100%;
}
.profile li{
    display: inline-flex;
}
.profileimage{
    width:100%;
}
.profileimage img{
    width:100%;
}
.cartimage{
    width:100%;
}
.cartimage img {
    width:100%;
}
   .list-item {  
    padding:10px;  
    list-style:none;
    cursor: pointer;  
   }  
   .nav-link{  
    transition: 0.7s ease;
    text-decoration:none;  
   }  
   .bar{  
    display:block;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#101010;  
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   }
   
/* section-Background */

.bgimage{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../asset/images/bg-image.png') ;
    background-size:cover;
    background-position:contain;
    background-repeat: no-repeat;
 }

.bgflex{
    margin:4%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    justify-content: space-around;
    font-size: large;
    text-align: center;
    opacity: 80%;
    background-color: white;
    background-size:100%;
    background-repeat: no-repeat;
}

.content{
    width:537px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
.image{
    width:100%;
}
.image img{
    width:100%;
}
.thenaturecandle{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
}
.bgimagehandmade{
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
button{
    width:340px;
    color:var(--white);
    background-color:rgba(86, 178, 128, 1);
    padding: 15px 24px;
    border-radius: 2%;
    font-size: large;
    border: 2px solid  rgba(86, 178, 128, 1);
    text-align: center;
    align-content: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20.6452px;
    line-height: 24px;
    /* opacity: 100%; */
}


/* Section-Product */

.section{
    width:100%;
    padding: 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.productdescription{
    text-align: center;
    margin-bottom: 3%;
}

.title-h2 > p{
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
    color:#0b254b;
    margin-bottom: 15px;
}

.h2description > p{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color:#5e6e89;
}

.productcard{
    display:flex;
    flex-wrap: wrap; 
    justify-content:space-around;
    align-items:center ;
    width:80%;
    grid-gap:30px;
}

.seemorebutton{
    display: none;
}

.card{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0px 4px 8px 0px rgb(0,0,0,0.2);
    width:230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color:#f7f8fa;  
}
.card-image{
    width:100%;
}
.card-image img{
    width:100%;
}
.card2-image{
    width:100%;
}
.card2-image img{
    width:100%;
}
.seemore{
        display: none;
}

.container{
    background-color:white;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > p:nth-child(1)
{   
    font-weight: 500;
    Font-size: 16px;
    Line-height: 28px;
    color:#1d293f;
    width:80%;
}

.container > p:nth-child(2)
{   
    font-family: 'Roboto';
    width:80%;
    font-weight: 500;
    Font-size: 20px;
    Line-height: 28px;
    text-align: end;
    color:var(--green);
}


/* Section-Clean and Fragrant */

.container3{
  background-color:#f7f8fa;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:5%;
}

.left{
    font-family: 'Poppins';
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    align-content: center;
    padding: 4%;
}

.leftflex .cleanandfragrant{
    width:70%;
    font-weight: 500;
    font-size: 30px;
    line-height: 47px;
    padding: 3%;
}

.leftflex .madeforhome{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding-left: 4%;
    color:var(--green);
}

.leftflex li{
    font-family: 'Poppins';
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
}

.leftflex .learnmore{
    justify-content: center;
}

.right{
    width:100%;
}
.right img{
    width:100%;
}
.mobilecontainer3{
    display: none;
}


/* Section-Testimonial */

.testimonial{
    font-family: 'Poppins';
    display:flex;
    flex-direction: column;
    text-align: center;
    background: rgba(86, 178, 128, 0.1);
    margin:0 auto;
    padding: 3% 0%;
}

.testimonialcontent{
    /* height:50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1% 0%;
}

.heading{
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
}

.quotes{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}


.container-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    grid-gap: 30px;
}


.testimonialflex{
    Width:350px;
    Height:295px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
}

.people{
    padding:0%;
}

.star > li{
    list-style: none;
    display:inline;
    align-items: center;
}

.remarkquote{

    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color:#1D293F;
}

.name{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color:#7C8087;;
}


/* Section-popular */
.popular{
    font-family: 'Poppins';
    margin:2%
}

.title-h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
}

.populardescription{
    text-align: center;
    margin-top:2%;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.popularcard{
    display:flex;
    flex-wrap: wrap; 
    justify-content:space-around;
    align-items:center ;
    margin:0 10%;
    width:80%;
    grid-gap:30px;
}

.popularcard >.card{
    box-shadow: 0px 4px 8px 0px rgb(0,0,0,0.2);
    width:230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color:#f7f8fa; 
    margin:3% 0%;
}

/* Section-Footer */

.footer{
    display: block;
    background: #121213;
    padding: 2%;
}

.footertop{
    width:85%;
    margin:5% auto;
    padding: 3% 0%;
    display:flex;
    justify-content: space-bnetween;
    color: #f7f8fa;
    border-top:2px solid #fbfcff;
}

.footerlogo{
    display: flex;
    width:100%;
    align-content: center;
    font-size: 30px;
    align-items: center;
}

.footerleftcontent{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.navfooter{
    width:80%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
}

.footeritem{
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.discovery > ul{
    list-style: none;
}

.about >ul{
    list-style:none;
}

.info >ul{
    list-style:none;
}

.order1 > li{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    padding: 8% 0%;
}

.footergreen{
    color:var(--green);
    margin:15px 0%;
}


/* TABLET */

@media screen and (max-width:768px){
    .hamburger{
        display: block;
    }
    .ham.active .bar:nth-child(2){
        opacity: 0;
    }
    .ham.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .ham.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-sub{
        width:100%;
        position:fixed;    
        left:-100%;
        top:70px;
        gap:0;
        display: flex;
        flex-direction:column;  
        background-color:white;  
        color: var(--green);
        Font-family: Roboto;
        Font-style: Regular;
        Font-size: 24px;
        Line-height: 28px;
        z-index:10;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        margin:16px 0;
    }
    .nav-sub.active{
        left:0;
    }
    .ham{
        display: block;
    }
    .navmenu{
        display: none;
    }
    .bgimage{
        width:100%;
        height:auto;
        position: relative;
    }
    .content{
        width:90%;
        text-align:center;
    }

    .handmade{
        width:80%;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }

    button{
        width:100%;
    }

    .seemore{
        display: none;
    }

    .container3{
        display:none;
    }

    .mobilecontainer3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color:#f7f8fa;
        padding: 10px 0px;
    }

     .mobileright{
        width:100%;
        height:100%;
        margin-left:10%;
    }

    .leftflexmobile li{
        list-style: none;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        padding:0 10%;
    }

    .container-4{
        width: 100%;
        display: flex;
        grid-gap: 20px;
        overflow-x: scroll;
        justify-content: flex-start;
        margin: 0 auto;
        height:auto;
      }
    
      .testimonialflex{
        Width:150%;
        Height:340px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 4rem ;
        margin: 0px 15px;
      }

      .star{
        display:inline-flex;
      }

    .footertop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navfooter{
        width:100%;
    }
}


/* MOBILE */


@media screen and (max-width:480px){
    
    /* Navigation Bar */

    .hamburger{
        display:block;

    }
    .profile{
        margin-left:20px;
    }

    /* Background */

    .bgimage{
        margin-top: 40px;
        width:100%;
        background-image: url('/asset/images/bg-imagemobile.png');
        display: flex;
        flex-direction:column;    
        justify-content: center;
        align-items: center; 
        background-repeat: no-repeat;
        background-size:100%;
        background-position:initial;
    }

    .bgflex{
        width:90%;
    }

    .content{
        width:90%;
    }

    button{
        width:100%;
    }
    .card{
        position: relative;
    }

    .container{
        position: absolute;
        bottom : 3%;
    }

    .card2{
        display:none;
    }


    /* Container 3-Clean and fragrant */

    .container3{
        display:none;
    }

    /*Popular*/

    .popularcard{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .seemore{
        display:block;
    }

    /*footer*/

    .footertop{
        display: flex;
        flex-direction: column;
    }
    .navfooter{
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .discovery{
        width:50%;
        order:1;
        font-size: 16px;
    }
    .about{
        width:40%;
        order:3;
        font-size: 16px;
    }
    .info{
        width:50%;
        order:2;
        font-size: 16px;
    }
}